*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    max-width: 722px;
    margin: 2em auto;
    text-align: center;
    font-family: monospace;
}

.numbers-container{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 8px;
    padding-block: 1em;
}

.number{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.number.active{
    outline: 4px solid #3C3D37;
    outline-offset: 2px;
}

.zero{
    background-color: #000000;
}

.prime{
    background-color: #85A98F;
}

.even{
    background-color: #B3C8CF;
}

.odd{
    background-color: #A1EEBD;
}

.fact{
    margin-block: 1em;
    padding: 1em;
    border-radius: 8px;
    background-color: #EDDFE0;
    color: #3C3D37;
}

.browse-ranges{
    padding-block: 1em;
    background-color: #EDDFE0;
    border-radius: 2px;
    border: 1px solid #BDC0AB4D;
}

.browse-btn{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 4px;
    padding: .7em 1em;
    margin-inline: 1em;
    border: none;
    cursor: pointer;
    font-family: inherit;
}